
<form (ng-submit)="uploadPhoto()" [ng-form-model]="photoForm">
    <fieldset class="form-group">
        <label for="name">Upload photo</label>

        <input id="title" type="text" class="form-control" ng-control="title" placeholder="Enter title"/>

        <textarea id="description" type="text" class="form-control" ng-control="description" placeholder="Enter description">
        </textarea>

        <input id="photo" type="file" class="form-control" (change)="onChange($event, $this)"/>

        <select ng-control="category">
           <option *ng-for="#category of allCategories" [value]="category._id">{{category.name}}</option>
        </select>

        <div class="tags-container">
            <div class="tag-item" *ng-for="#tag of allTags">
                <label>{{tag.name}}</label>
                <input #checkbox type="checkbox" [checked]="tag.selected" (click)="addTag(tag, checkbox.value)"/>
            </div>
        </div>
    </fieldset>

    <button type="submit" value="click" class="btn btn-primary">Submit</button>
</form>
