.admin-list-container {
	height: 100%;
	overflow: auto;
	will-change: scroll-position;
}

.admin-thumbnail {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 160px;
	max-width: 240px;
	max-height: 160px;
	width: 24%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
    margin: auto;
}


.admin-list-wrapper {

    .row-header {
        color: #fff;
        background-color: #373a3c;
        vertical-align: bottom;
        border-bottom: 2px solid #eceeef;
        padding: .75rem;
        line-height: 1.5;
        border-top: 1px solid #eceeef;
    }

    .photo-row {
        cursor: pointer;
        border-bottom: 1px solid #ccc;

        &:hover {
            background-color: #ccc;
        }
    }

    .photo-col {
        display: flex;
        align-items: center;
    }

    .photo-details {
        overflow: hidden;
        display: flex;
        align-items: center;

        ul {
            padding: 10px 0;
            width: 100%;
        }
    }

    .row-title {
        font-weight: 700;
    }

    .row-value {
        @include text-truncate();
    }

    .row-story-value {
        float: left;
        width: 100%;
    }

    .col-actions {
        display: flex;
        align-items: center;
    }

    .tag-container > ul,
    .tag-container > span {
        display: inline-block;
    }

    .tag-item {
        display: inline-block;
        margin-right: 10px;
    }
}
