a.hp-figure-tag {
    border: 1px solid #FFFFFF;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 100;
}

.photo-wrapper {
    display: inline-block;
    // position: relative;
}

.photo-container {
    margin: 0;
    text-align: center
}

.photo-img {
    max-height: 500px;
}
