.sidebar {
    padding: 0;

    .input-group-addon {
        width: 40px;
    }

    .sidebar-search {
        padding: 15px;
        height: 75px;
    }

     ul li {
        border-bottom: 1px solid darken($gray-lightest, 6.5%);
        height: 50px;
        line-height: 50px;
        padding-left: 10px;

        &.active {
            background-color: $gray-lighter;
        }

        &:hover {
            background-color: $gray-lighter;
        }

        a {
            display: block;
        }
    }

    .arrow {
        float: right;
    }

    .fa.arrow:before {
        content: "\f104";
    }

    .active > a > .fa.arrow:before {
        content: "\f107";
    }

    .nav-second-level li,
    .nav-third-level li {
        border-bottom: none !important;
    }

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 52px;
    }
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
