
<form (ng-submit)="authenticate()" [ng-form-model]="authForm">
<!-- <form> -->
    <fieldset class="form-group">
        <label for="username">Username</label>
        <input id="username" type="username" class="form-control" ng-control="username" placeholder="Enter username"/>
    </fieldset>

    <fieldset class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control"  ng-control="password" placeholder="Password"/>
    </fieldset>

    <button type="submit" value="click" class="btn btn-primary">Submit</button>
</form>
