 <table class="table" *ng-if="comments">
     <thead class="thead-inverse table-striped">
         <tr>
             <th>Name</th>
             <th>Message</th>
             <th>PositionX</th>
             <th>PositionY</th>
             <th>Actions</th>
         </tr>
     </thead>
     <tbody>
         <tr *ng-for="#comment of comments">
             <td>{{comment.name}}</td>
             <td>{{comment.message}}</td>
             <td>{{comment.left}}</td>
             <td>{{comment.top}}</td>
             <td>
                 <button type="button" class="btn btn-danger" (click)="delete(comment)">
                     <i class="fa fa-times"></i>
                 </button>
             </td>
         </tr>
     </tbody>
 </table>
