<div class="admin-list-container" hp-load-more (load-more)="loadMore()">

    <div class="admin-list-wrapper">

        <div class="row row-header">
            <div class="col-md-1">Status</div>
            <div class="col-md-3">Photo</div>
            <div class="col-md-6">Details</div>
            <div class="col-md-1">Actions</div>
        </div>

        <div class="row" *ng-for="#photo of photos">

            <div class="col-md-1 state-col">
                <div class="state" [class.state-active]="photo.isActive" [class.state-inactive]="!photo.isActive"></div>
            </div>

            <div class="col-md-3 photo-col">
        		<img class="admin-thumbnail" [src]="'/static/' + photo.name" [alt]="photo.title"/>
        	</div>

            <div class="col-md-6 photo-details">
                <ul>
                    <li>
                        <span class="row-title">Title:</span>
                        <span class="row-value">{{photo.title}}</span>
                    </li>
                    <li>
                        <span class="row-title">Date:</span>
                        <span class="row-value">{{photo.date}}</span>
                    </li>
                    <li>
                        <span class="row-title">Description:</span>
                        <span>{{photo.description}}</span>
                    </li>
                    <li>
                        <span class="row-title">Story:</span>
                        <span class="row-value row-story-value">{{photo.story}}</span>
                    </li>
                    <li>
                        <span class="row-title">Category:</span>
                        <span class="row-value">{{photo.category.name}}</span>
                    </li>
                    <li class="tag-container">
                        <span class="row-title">Tags:</span>
                        <ul>
                            <li class="tag-item" *ng-for="#tag of photo.tags">{{tag.name}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 col-actions">

                <div class="admin-action-button" (click)="selectPhoto(photo)"">
                    <i class="fa fa-pencil"></i>
                </div>

                <div class="admin-action-button" (click)="toggleActivateState(photo)">
                    <i class="fa" [class.fa-toggle-off]="!photo.isActive" [class.fa-toggle-on]="photo.isActive"></i>
                </div>

                <div class="admin-action-button" (click)="delete(photo)">
                    <i class="fa fa-times"></i>
                </div>

            </div>
        </div>
    </div>

</div>
