<div class="gallery-container" hp-load-more (load-more)="loadMore()">

    <div class="figures-container gallery-grid" >
        <figure class="gallery-figure effect-zoe" *ng-for="#photo of photos" [router-link]="['/photo',{'id':photo._id}]">
    		<img [src]="'/static/' + photo.name" [alt]="photo.title"/>
    		<figcaption>
    			<h4>{{photo.title}}</h4>
                <div class="icon-links">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
    				<a href="#"><i class="fa fa-heart"></i></a>
    			</div>
    			<p class="gallery-item-description">{{photo.description}}</p>
    		</figcaption>
    	</figure>
    </div>

    <footer>
        <p>© 2015 CÁTIA CANASTRO | ALL RIGHTS RESERVED | PORTUGAL</p>
    </footer>
</div>
