<table class="table">
    <thead class="thead-inverse table-striped">
        <tr>
            <th>Machine</th>
            <th>Focal Length</th>
            <th>Aperture</th>
            <th>Exposure Time</th>
            <th>Flash</th>
            <th>Iso</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ng-for="#setup of setups">
            <td>{{setup.machine}}</td>
            <td>{{setup.focal_length}}</td>
            <td>{{setup.aperture}}</td>
            <td>{{setup.exposure_time}}</td>
            <td>{{setup.flash}}</td>
            <td>{{setup.iso}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="delete(setup)">
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
