<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Angular 2 App</title>
    <base href="<%= APP_BASE %>">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font -->
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cask.scotch.io/bootstrap-4.0-flex.css">
    <link rel="stylesheet" type="text/css" href="/app.css">


    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>

    <app>Loading...</app>

    <!-- inject:js -->
    <!-- endinject -->

    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="<%= APP_BASE %>init.js?v=<%= VERSION %>"></script>

</body>
</html>
