
body {
    background-color: #f8f8f8;
    font-family: 'Lato', serif;
    overflow: hidden;
}

footer {
    height: 75px;
    line-height: 75px;
    background-color: #000;
    color: #fff;
    text-align: center;

    margin-top: 75px;
}

a {
    text-decoration: none !important;
}

.content-container {
    margin-top: 45px;
    height: calc(100% - 45px);
    overflow: auto;
}

.wrapper {
    width: 100%;
}

@media(min-width:768px) {
    .page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid darken($gray-lightest, 6.5%);
    }
}

.hidden {
    display: none;
}
