
body {
    background-color: #f8f8f8;
    font-family: 'Lato', serif;
}

.content-container {
    margin-top: 45px;
    min-height: calc(100% - 45px);
}

.wrapper {
    width: 100%;
}

@media(min-width:768px) {
    .page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid darken($gray-lightest, 6.5%);
    }
}

.hidden {
    display: none;
}
