.figure-tag-form-container {
    position: absolute;
    z-index: 2000;
    color: #fff;
}

.figure-tag-form {
    border-radius: 4px;

    background-color: #000;
    opacity: 0.9;

    padding: 10px;
}

.figure-temp-tag {
    border: 1px solid #FFFFFF;
    height: 50px;
    width: 50px;
}

.figure-tag-close {
    position: absolute;
    height: 25px;
    width: 25px;
    z-index: 2;
    right: -12px;
    top: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: #ccc;
    }

    i {
        margin: auto;
    }
}
