.figure-top-container {
    background-color: rgb(33, 33, 36);
    color: white;
    padding: 20px;
}


a.hp-figure-tag {
    border: 1px solid #FFFFFF;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 100;
}

.hp-figure-tag-message {
    color: #000;
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
}

.figure-header {
    display: flex;
    align-items: center;
    width: 100%;

    .figure-back {
        display: inline-block;
        cursor: pointer;
        width: 60px;
        font-size: 32px;

        &:hover {
            color: blue;
        }
    }

    .figure-title {
        width: 100%;
        text-align: center;
    }
}

.photo-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    text-align: center
}

.photo-img {
    height: 100%;
}

.photo-wrapper {
    display: inline-block;
    position: relative;
    height: 500px;
    overflow: hidden;

    &:hover {
        .photo-controllers {
            -webkit-transform: translate3d(0,0,0);
        	transform: translate3d(0,0,0);
        }
    }
}


.photo-controllers {
    position: absolute;
	top: 0;
	right: 0;
    height: 100%;
	padding: 1em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
    opacity: 0.75;
    width: 50px;
    font-size: 20px;

    ::before,
    ::after {
        pointer-events: none;
    }
}

.photo-controller {
    cursor: pointer;
    height: 30px;

    &:hover {
        color: blue;
    }
}

.photo-story-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    width: 250px;
    padding: 0 10px;

    .photo-story {
        text-align: left;
    }
}

.photo-setup {
    text-align: left;

    .icon {
    	font-family: Flaticon;
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	display: inline-block;
    	vertical-align: middle;
    	/* Better Font Rendering =========== */
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    }

    .icon + span {
    	margin-left: 5px;
    	vertical-align: middle;
    }

    .icon-focal_length:before {
    	content: "\e005";
    }

    .icon-exposure_time:before {
    	content: "\e003";
    }

    .icon-iso:before {
    	content: "\e007";
    }

    .icon-camera:before {
        content: "\e002";
    }

    .icon-aperture:before {
    	content: "\e004";
    }

    .icon-flash:before {
    	content: "\e000";
    }

    .icon-noflash:before {
    	content: "\e006";
    }

    /** macro: content: "\e001"; **/
}

.figure-bottom-container {
    padding: 20px;

    #disqus_thread {

    }

    .row {
        margin-top: 10px;
    }

    .tags-row {
        margin-top: 30px;
    }

    .tags-buttons-row {
        button {
            width: 100%;
        }

        .col-sm-4 {
            margin-top: 10px;
        }
    }
}
