<ul class="dashboard-items-container">
    <h1>Dashboard</h1>

    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card card-block" style="width: 20rem;">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

            <div class="card card-block" style="width: 20rem;">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

            <div class="card card-block" style="width: 20rem;">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</ul>
