
<form class="upload-photo-form" (ng-submit)="uploadPhoto()" [ng-form-model]="photoForm">

    <div class="row" *ng-if="mode === 0">
        <div class="col-md-6 photo-row" *ng-if="photo">
            <img class="photo-img" [src]="'/static/' + photo.name" [alt]="photo.title"/>
        </div>
        <div class="col-md-6">

             <table class="table" *ng-if="comments">
                 <thead class="thead-inverse table-striped">
                     <tr>
                         <th>Name</th>
                         <th>Message</th>
                         <th>PositionX</th>
                         <th>PositionY</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr *ng-for="#comment of comments">
                         <td>{{comment.name}}</td>
                         <td>{{comment.message}}</td>
                         <td>{{comment.left}}</td>
                         <td>{{comment.top}}</td>
                     </tr>
                 </tbody>
             </table>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <fieldset class="form-group">
                <h4 for="photo-name">Name</h4>
                <input id="photo-name" type="text" class="form-control" ng-control="name" placeholder="Name"/>
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset class="form-group">
                <h4 for="photo-title">Title</h4>
                <input id="photo-title" type="text" class="form-control" ng-control="title" placeholder="Title"/>
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset class="form-group">
                <h4 for="photo-date">Date</h4>
                <input id="photo-date" type="date" class="form-control" ng-control="date" placeholder="Date"/>
            </fieldset>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <fieldset class="form-group">
                <h4 for="photo-description">Description</h4>
                <textarea class="form-control" id="photo-description" rows="5" ng-control="description"></textarea>
            </fieldset>
        </div>

        <div class="col-sm-6">
            <fieldset class="form-group">
                <h4 for="photo-story">Story</h4>
                <textarea class="form-control" id="photo-story" rows="5" ng-control="story"></textarea>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <fieldset class="form-group">
                <h4 for="photo-category">Category</h4>
                <select id="photo-category" class="form-control" ng-control="category">
                   <option *ng-for="#category of categories" [value]="category._id">{{category.name}}</option>
                </select>
            </fieldset>
        </div>

        <div class="col-sm-6">
            <fieldset class="form-group">
                <h4 for="photo-setup">Setup</h4>

                <dropdown hp-title="Setup"
                    [hp-options]="setups"
                    [hp-keys]="setupDropdownKeys"
                    (hp-option-selected)="setupSelected($event)")></div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset class="form-group">
                <h4 for="photo-category">Tags</h4>

                <div class="row">

                    <div class="col-md-3 tag-item" *ng-for="#tag of tags">
                        <label>{{tag.name}}</label>
                        <input #checkbox type="checkbox" [checked]="tag.isSelected" (click)="addTag(tag, checkbox.value)"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row" *ng-if="mode === 1">
        <div class="col-md-12">

            <fieldset class="form-group">

                <h4 for="photo-description">File</h4>
                <label class="form-control file">
                    <input  type="file" id="file" (change)="onChange($event, $this)">
                    <span class="file-custom"></span>
                </label>
            </fieldset>

        </div>
    </div>



    <div class="row">
        <button type="submit" value="click" class="btn btn-primary">Submit</button>
    </div>
</form>
