<table class="table">
    <thead class="thead-inverse table-striped">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Story</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ng-for="#album of albums">
            <td>{{album.name}}</td>
            <td>{{album.title}}</td>
            <td>{{album.description}}</td>
            <td>{{album.story}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="delete(album)">
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
