<table class="table">
    <thead class="thead-inverse table-striped">
        <tr>
            <th>State</th>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Story</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ng-for="#album of albums">
            <td>
                <div class="state" [class.state-active]="album.isActive" [class.state-inactive]="!album.isActive"></div>
            </td>
            <td>{{album.name}}</td>
            <td>{{album.title}}</td>
            <td>{{album.description}}</td>
            <td>{{album.story}}</td>
            <td>
                <div class="admin-action-button" (click)="delete(album)">
                    <i class="fa fa-times"></i>
                </div>

                <div class="admin-action-button" (click)="toggleActivateState(album)">
                    <i class="fa" [class.fa-toggle-off]="!album.isActive" [class.fa-toggle-on]="album.isActive"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>
