<div class="content-container">

    <div class="figure-container" *ng-if="photo">
        <h1>{{photo.title}}</h1>

        <div class="photo-container" >
            <figure class="photo-wrapper" hp-figure [photo]="photo" (tag-added)="tagAdded($event)">
                <img class="photo-img" [src]="'/static/' + photo.name" [alt]="photo.title"/>

                <div class="photo-controllers">
                    <p class="icon-links">
                        <div class="photo-controller">
                            <i class="fa fa-toggle-off"></i>
                        </div>
                        <div class="photo-controller">
                            <i class="fa fa-facebook-square"></i>
                        </div>
                        <div class="photo-controller">
			                <i class="fa fa-heart"></i>
                        </div>

        			</p>
        		</div>

                <div
                    hp-figure-tag-message
                    [class.hidden]="[selectedTag]"
                    [tag]="selectedTag"
                    class='hp-figure-tag-message'>
                    {{selectedTagMessage}}
                </div>

                <a class='hp-figure-tag'
                    *ng-for="#figureTag of figureTags"
                    [tag]="figureTag"
                    hp-figure-tag
                    (tag-over)="showTag($event)"
                    (tag-out)="hideTag()">
                    <br />
                </a>
            </div>
        </div>
    </div>

    <div id="disqus_thread"></div>

</div>
