<div class="content-container">

    <div class="figure-top-container" *ng-if="photo">

        <div class="figure-header">
            <div class="figure-back" (click)="navigateBack()">
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="figure-title">
                <h1>{{photo.title}}</h1>
            </div>
        </div>

        <div class="photo-container" >
            <figure class="photo-wrapper"
                hp-figure
                [message]="tempMessage"
                [photo]="photo"
                (tag-added)="tagAdded($event)"
                (start-tag)="startTagForm($event)">

                <img class="photo-img" [src]="'/static/' + photo.name" [alt]="photo.title"/>

                <div class="photo-controllers">
                    <p class="icon-links">
                        <div class="photo-controller">
                            <div class="figure-toggle-container"
                                (click)="toggleTags($event)"
                                hp-tooltip
                                data-toggle="tooltip"
                                data-placement="left"
                                title="Toggle picture tags">
                                <i *ng-if="tagsOn" class="fa fa-toggle-on"></i>
                                <i *ng-if="!tagsOn" class="fa fa-toggle-off"></i>
                            </div>
                        </div>
                        <div class="photo-controller">
                            <i class="fa fa-facebook-square"hp-tooltip
                                data-toggle="tooltip"
                                data-placement="left"
                                title="Share on facebook"></i>
                        </div>
                        <div class="photo-controller">
			                <i class="fa fa-heart"
                                hp-tooltip
                                data-toggle="tooltip"
                                data-placement="left"
                                title="Like"></i>
                        </div>
                        <div class="photo-controller">
			                <i class="fa fa-globe"
                                hp-tooltip
                                data-toggle="tooltip"
                                data-placement="left"
                                title="Location"></i>
                        </div>

        			</p>
        		</div>

                <figure-tag-form [class.hidden]="!isCommenting"
                    [position]="tempTagPosition"
                    (on-message-submited)="onMessageSubmited($event)"></figure-tag-form>

                <div
                    hp-figure-tag-message
                    [class.hidden]="!selectedTag"
                    [tag]="selectedTag"
                    class='hp-figure-tag-message'
                    *ng-if="selectedTag">
                    <strong>{{selectedTag.name}}:<strong>
                    <span> {{selectedTag.message}}<span>
                </div>

                <div class="figure-tags-container" [class.hidden]="!tagsOn">
                    <a class='hp-figure-tag'
                        *ng-for="#figureTag of figureTags"
                        [tag]="figureTag"
                        hp-figure-tag
                        (tag-over)="showTag($event)"
                        (tag-out)="hideTag()">
                        <br />
                    </a>
                </div>
            </figure>

            <div class="photo-story-container">

                <div class="photo-description" *ng-if="!photo.story">{{photo.description}}</div>
                <div class="photo-story">{{photo.story}}</div>
                <div class="photo-setup">
                    <div class="photo-setup-item">
                        <i class="icon icon-camera"></i>
                        <span>{{photo.setup.machine}}<span>
                    </div>
                    <div class="photo-setup-item">
                        <i class="icon icon-focal_length"></i>
                        <span>{{photo.setup.focal_length}}</span>
                    </div>
                    <div class="photo-setup-item">
                        <i class="icon icon-aperture"></i>
                        <span>f/{{photo.setup.aperture}}</span>
                    </div>
                    <div class="photo-setup-item">
                        <i class="icon icon-exposure_time"></i>
                        <span>{{photo.setup.exposure_time}}</span>
                    </div>
                    <div class="photo-setup-item">
                        <i class="icon icon-iso"></i>
                        <span>{{photo.setup.iso}}</span>
                    </div>

                    <div class="photo-setup-item">
                        <i class="icon" [class.icon-flash]="photo.setup.flash" [class.icon-noflash]="!photo.setup.flash"></i>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="figure-bottom-container container">
        <div class="row">
            <div id="disqus_thread" class="col-sm-8"></div>

            <div class="figure-categorization col-sm-4"  *ng-if="photo">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Category:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn-sm btn-primary">{{photo.category.name}}</button>
                    </div>
                </div>

                <div class="row tags-row">
                    <div class="col-sm-12">
                        <h3>Tags:</h3>
                    </div>
                </div>
                <div class="row tags-buttons-row">
                    <div class="col-sm-4" *ng-for="#tag of photo.tags">
                        <button type="button" class="btn-sm btn-primary">{{tag.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
