<div class="navbar navbar-light bg-faded sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul>

            <li *ng-for="#item of items" [class.active]="item.active">
                <h3>
                    <i class="fa fa-dashboard fa-fw"></i>
                    <span (click)="onClick(item)">{{item.name}}</span>
                </h3>

                <ul *ng-if="item.children">
                    <li *ng-for="#child of item.children">
                        <a class="sidenav-child-anchor" [router-link]="[child.path]">{{child.name}}</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</div>
